.homepage{
    .hero-section{
        padding: 40px 0;
        display: flex;
        justify-content: center;
        width: 60%;
        margin: 0 auto;
        flex-direction: column;
        height: calc(100vh - 75px);

        .container{
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 0;
        
            img{
            height: 100px;
            margin-bottom: 30px;
            }
            h2{
                line-height: 53px;
                font-size: 38px;
                font-weight: bold;
            }
            h5{
                color: #262C43;
                text-align: center;
                line-height: 35px;
                margin-top: 5px;
            }
            button{
                min-width: 250px;
                height: 50px;
                margin-left: 10px;
            }
            button:first-child{
                margin-left: 0;
            }
        }
    }
    .about-us{
        background-color: rgba(38, 44, 67, .4);
        border-radius: 15px;
        padding: 50px;
        margin-top: 30px;
        position: relative;
        margin-bottom: 60px;

        .heading{
            background-color: #00AFFF;
            border-radius: 0 50px 50px 0;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            left: -46px;
            padding: 0 25px 0 20px;
            font-weight: bold;
            text-transform: uppercase;
            font-size: 12px;
            letter-spacing: 2px;
        }
        .circle-animation{
            transform: translate(0%, 0%);
            height: 500px;
            width: 500px;
            z-index: -1;
            overflow: hidden;
        }
        .circle-animation::before{
            position: absolute;
            content: '';
            border-radius: 50%;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            animation: rotatecw 15s linear infinite 0s;
            border: 4px solid rgba(255, 255, 255, 0.1);
            border-top-color: #00AFFF;
            border-right-color: #00AFFF;
        }
        .circle-animation::after{
            position: absolute;
            content: '';
            border: 4px solid rgba(0, 0, 0, 0.1);
            border-radius: 50%;
            top: 40px;
            left: 40px;
            bottom: 40px;
            right: 40px;
            border-top-color: #00AFFF;
            border-bottom-color: #00AFFF;
            animation: rotateacw 24s linear infinite 0s;
            border: 4px solid rgba(255, 255, 255, 0.1);
            border-top-color: #00AFFF;
            border-bottom-color: #00AFFF;
        }
        .content{
            width: calc(100% - 500px);
            padding-left: 50px;

            div{
                margin-bottom: 2rem;
            
                h4{
                    font-size: 16px;
                    text-transform: uppercase;
                    margin-bottom: 15px;
                    color: #00AFFF;
                }
                h5{
                    font-size: 15px;
                    line-height: 26px;
                }
                small{
                    color: #262C43;
                    line-height: 26px;
                    font-style: italic;
                    font-weight: bold;
                }
                small.mt-15{
                    margin-top: 15px;
                    display: inline-block;
                }
            }
            div:last-child{
                margin-bottom: 0;
            }
        }
    }
    .upcoming-pools{
        background-color: transparent;
        border-radius: 15px;
        padding: 50px 0;
        margin-top: 30px;
        position: relative;

        .heading{
            background-color: #00AFFF;
            border-radius: 50px 0 0 50px;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            right: -46px;
            padding: 0 20px 0 25px;
            font-weight: bold;
            text-transform: uppercase;
            font-size: 12px;
            letter-spacing: 2px;
            top: 20px;
        }
        .card{
            border: 1px solid #262C43;
            border-radius: 0 50px;
            padding: 30px;
            position: relative;
            background-color: transparent;
            width: 381px;
            margin-right: 4rem;
            min-height: 385px;
            margin-bottom: 5rem;

            .square-box{
                background-color: #262C43;
                color: #fff;
                padding: 7px 12px 7px 7px;
                border-radius: 999px;
                position: absolute;
                top: -31px;
                left: -35px;
                min-width: 100px;
                font-weight: bold;
                letter-spacing: 1px;
                font-size: 13px;
                text-transform: uppercase;
                font-style: italic;

                img{
                    max-width: 50px;
                    border-radius: 50%;
                    border: 2px solid #010415;
                    margin-right: 7px;
                }
            }
            .total-text{
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-top: 2rem;
                line-height: 34px;

                small{
                    letter-spacing: 1px;
                    font-size: 12px;
                    color: #00AFFF;
                    line-height: 28px;
                }
                h3{
                    font-weight: bold;
                    font-size: 37px;
                }
            }
            .block{
                margin-top: 2rem;
                
                ul{
                    list-style: none;
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    padding: 0;

                    li{
                        margin-bottom: 10px;
                        background-color: #262C43;
                        padding: 5px 5px 5px 15px;
                        border-radius: 9999px;
                        height: 45px;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;

                        span{
                            float: right;
                            color: #00AFFF;
                            min-width: 115px;
                            text-align: right;
                            background-color: #010415;
                            border-radius: 9999px;
                            text-align: center;
                            font-size: .875em;
                            height: 100%;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            letter-spacing: 1px;
                            padding: 0 15px;
                        }
                    }
                }

                .points{
                    font-size: 25px;
                    background-color: #262C43;
                    padding: 15px;
                    border-radius: 15px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    margin-right: 1rem;

                    small{
                        font-size: 12px;
                        letter-spacing: 1px;
                        padding-bottom: 10px;
                    }
                    span{
                        line-height: 24px;
                    }
                }
            }
            .time-limit{
                background-color: #00AFFF;
                color: #ffffff;
                display: flex;
                border-radius: 9999px;
                align-items: center;
                justify-content: center;
                position: absolute;
                bottom: -13px;
                right: -35px;
                padding: 5px 15px;
                font-weight: bold;
                letter-spacing: 1px;
                font-size: 13px;
                text-transform: uppercase;
                font-style: italic;

                svg{
                    margin-right: 10px;
                }
            }
        }
        .card:last-child{
            margin-right: 0;
            margin-bottom: 0;
        }
        .card:nth-child(3n){
            margin-right: 0;
        }
        .card:nth-last-child(2){
            margin-bottom: 0;
        }
    }
    .featured-pools{
        background-color: rgba(38, 44, 67, 0.4);
        border-radius: 15px;
        padding: 50px;
        margin-top: 30px;
        position: relative;
        margin-bottom: 60px;

        .heading{
            background-color: #00AFFF;
            border-radius: 0 50px 50px 0;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            left: -46px;
            padding: 0 20px 0 25px;
            font-weight: bold;
            text-transform: uppercase;
            font-size: 12px;
            letter-spacing: 2px;
        }
        .flex-wrap{
            margin-top: 5rem;
        }
        .card{
            border: 1px solid #010415;
            border-radius: 0 50px;
            padding: 30px;
            position: relative;
            background-color: #010415;
            width: 369px;
            margin-right: 2rem;
            min-height: 385px;
            margin-bottom: 5rem;

            .square-box{
                background-color: #262C43;
                color: #fff;
                padding: 7px;
                border-radius: 0 50px 50px 0;
                font-weight: bold;
                letter-spacing: 1px;
                font-size: 13px;
                text-transform: uppercase;
                font-style: italic;
                display: flex;
                align-items: center;

                img{
                    max-width: 50px;
                    border-radius: 50%;
                    border: 2px solid #010415;
                    margin-right: 7px;
                }
                span{
                    display: flex;
                    flex-direction: column;

                    small{
                        padding-top: 3px;
                        font-weight: normal;
                    }
                }
            }
            .total-text{
                display: flex;
                flex-direction: column;
                margin-top: 2rem;
                line-height: 34px;

                small{
                    letter-spacing: 1px;
                    font-size: 12px;
                    color: #00AFFF;
                    line-height: 28px;
                }
                h3{
                    font-weight: bold;
                    font-size: 35px;
                }
                .progress{
                    border-radius: 9999px;
                    margin-top: 5px;

                    .progress-bar{
                        background-color: #fff;
                    }
                }
                .counts{
                    small{
                        color: #262C43;
                        font-size: 10px;
                    }
                }
            }
            .block{
                margin-top: 2rem;
                
                ul{
                    list-style: none;
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    padding: 0;

                    li{
                        margin-bottom: 10px;
                        background-color: #262C43;
                        padding: 5px 5px 5px 15px;
                        border-radius: 9999px;
                        height: 45px;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;

                        span{
                            float: right;
                            color: #00AFFF;
                            min-width: 115px;
                            text-align: right;
                            background-color: #010415;
                            border-radius: 9999px;
                            text-align: center;
                            font-size: .875em;
                            height: 100%;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            letter-spacing: 1px;
                            padding: 0 15px;
                        }
                    }
                }

                .points{
                    font-size: 25px;
                    background-color: #262C43;
                    padding: 15px;
                    border-radius: 15px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    margin-right: 1rem;

                    small{
                        font-size: 12px;
                        letter-spacing: 1px;
                        padding-bottom: 10px;
                    }
                    span{
                        line-height: 24px;
                    }
                }
            }
            .time-limit{
                background-color: #00AFFF;
                color: #ffffff;
                display: flex;
                border-radius: 9999px;
                align-items: center;
                justify-content: center;
                position: absolute;
                bottom: -13px;
                right: -35px;
                padding: 5px 15px;
                font-weight: bold;
                letter-spacing: 1px;
                font-size: 13px;
                text-transform: uppercase;
                font-style: italic;

                svg{
                    margin-right: 10px;
                }
            }
        }
        .card:last-child{
            margin-right: 0;
            margin-bottom: 0;
        }
        .card:nth-child(3n){
            margin-right: 0;
        }
        .card:nth-last-child(2){
            margin-bottom: 0;
        }
        .card:nth-last-child(3){
            margin-bottom: 0;
        }
        .single-link{
            color: #fff;
            padding: 25px 15px 0;
            font-size: 12px;
            letter-spacing: 1px;
            position: relative;
            margin-top: 2rem;

            span{
                padding-left: 7px;
                transition: all ease .5s;
                position: absolute;
                font-size: 15px;
                top: 21px;
            }
        }
    }
    .tiered-system{
        background-color: transparent;
        border-radius: 15px;
        padding: 50px 0 0;
        margin-top: 30px;
        position: relative;

        .main-heading{
            display: flex;
            justify-content: center;
            flex-direction: column;

            h2{
                text-align: center;
                font-size: 38px;
                font-weight: bold;
            }
            h5{
                text-align: center;
                color: #262C43;
                line-height: 35px;
                margin-top: 5px;
            }
        }

        .heading{
            background-color: #00AFFF;
            border-radius: 50px 0 0 50px;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            right: -46px;
            padding: 0 20px 0 25px;
            font-weight: bold;
            text-transform: uppercase;
            font-size: 12px;
            letter-spacing: 2px;
        }
        .carousel{
            margin-top: 5rem;
            margin-bottom: 4rem;

            input[type=radio] {
                display: none;
              }
              
              .card {
                position: absolute;
                width: 50%;
                height: 100%;
                left: 0;
                right: 0;
                margin: auto;
                transition: transform .4s ease;
                cursor: pointer;
              }
              
              .container {
                width: 100%;
                max-width: 800px;
                max-height: 600px;
                height: 100%;
                transform-style: preserve-3d;
                display: flex;
                justify-content: center;
                flex-direction: column;
                align-items: center;
                height: 565px;
              }
              
              .cards {
                position: relative;
                width: 100%;
                height: 100%;
                margin-bottom: 20px;

                .card{
                    background-color: #262C43;
                    border: none;
                    border-radius: 15px;
                }
              }
              
              img {
                width: 100%;
                height: 100%;
                border-radius: 10px;
                object-fit: cover;
              }
              
              #item-1:checked ~ .cards #tier-3, #item-2:checked ~ .cards #tier-1, #item-3:checked ~ .cards #tier-2, #item-4:checked ~ .cards #tier-3,
              #item-5:checked ~ .cards #tier-4, #item-6:checked ~ .cards #tier-5 {
                transform: translatex(-40%) scale(.8);
                opacity: .4;
                z-index: 0;
              }
              
              #item-1:checked ~ .cards #tier-2, #item-2:checked ~ .cards #tier-3, #item-3:checked ~ .cards #tier-4, #item-4:checked ~ .cards #tier-5,
              #item-5:checked ~ .cards #tier-6, #item-6:checked ~ .cards #tier-1 {
                transform: translatex(40%) scale(.8);
                opacity: .4;
                z-index: 0;
              }
              
              #item-1:checked ~ .cards #tier-1, #item-2:checked ~ .cards #tier-2, #item-3:checked ~ .cards #tier-3, #item-4:checked ~ .cards #tier-4, 
              #item-5:checked ~ .cards #tier-5, #item-6:checked ~ .cards #tier-6{
                transform: translatex(0) scale(1);
                opacity: 1;
                z-index: 1;
                
                img {
                  box-shadow: 0px 0px 5px 0px rgba(81, 81, 81, 0.47);
                }
              }
              
              .player {
                background-color: #fff;
                border-radius: 8px;
                min-width: 320px;
                padding: 16px 10px;
              }
              
              .upper-part {
                position: relative;
                display: flex;
                align-items: center;
                margin-bottom: 12px;
                height: 36px;
                overflow: hidden;
              }
              
              .play-icon{ margin-right: 10px; }
              
              .song-info {
                width: calc(100% - 32px);
                display: block;
              }
              
              .song-info .title {
                color: #403d40;
                font-size: 14px;
                line-height: 24px;
              }
              
              .sub-line {
                display: flex;
                justify-content: space-between;
                width: 100%;
              }
              
              .subtitle, .time {
                font-size: 12px;
                line-height: 16px;
                color: #c6c5c6;
              }
              
              .time {
                font-size: 12px;
                line-height: 16px;
                color: #a5a5a5;
                font-weight: 500;
                margin-left: auto;
              }
              
              .progress-bar {
                height: 3px;
                width: 100%;
                background-color: #e9efff;
                border-radius: 2px;
                overflow: hidden;
              }
              
              .progress {
                display: block;
                position: relative;
                width: 60%;
                height: 100%;
                background-color: #2992dc;
                border-radius: 6px;
              }
              
              .info-area {
                width: 100%;
                position: absolute;
                top: 0;
                left: 30px;
                transition: transform .4s ease-in;
              }
              
              #item-2:checked ~ .player #test {
                transform: translateY(0);
              }
              
              #item-2:checked ~ .player #test  {
                transform: translateY(-40px);
              }
              
              #item-3:checked ~ .player #test  {
                transform: translateY(-80px);
              }
              .card-carousel{
                border-radius: 0 50px;
                padding: 15px;
                height: 100%;;
                position: relative;
                height: 100%;
    
                .square-box{
                    background-color: #010415;
                    color: #00AFFF;
                    padding: 15px;
                    border-radius: 9999px;
                    font-weight: bold;
                    letter-spacing: 1px;
                    font-size: 20px;
                    text-transform: uppercase;
                    font-style: italic;
                    display: flex;
                    align-items: center;
                    justify-content: center;
    
                    img{
                        max-width: 50px;
                        border-radius: 50%;
                        border: 2px solid #010415;
                        margin-right: 7px;
                    }
                    span{
                        display: flex;
                        flex-direction: column;
    
                        small{
                            padding-top: 3px;
                            font-weight: normal;
                        }
                    }
                }
                .total-text{
                    display: flex;
                    flex-direction: column;
                    margin-top: 2rem;
                    line-height: 34px;
                    align-items: center;
    
                    small{
                        letter-spacing: 1px;
                        font-size: 12px;
                        color: #00AFFF;
                        line-height: 28px;
                    }
                    h3{
                        font-weight: bold;
                        font-size: 35px;
                    }
                    .progress{
                        border-radius: 9999px;
                        margin-top: 5px;
    
                        .progress-bar{
                            background-color: #fff;
                        }
                    }
                    .counts{
                        small{
                            color: #262C43;
                            font-size: 10px;
                        }
                    }
                }
                .block{
                    margin-top: 1.5rem;
                    
                    ul{
                        list-style: none;
                        display: flex;
                        flex-direction: column;
                        width: 100%;
                        padding: 0;
    
                        li{
                            margin-bottom: 10px;
                            background-color: #010415;
                            padding: 5px 5px 5px 15px;
                            border-radius: 9999px;
                            height: 45px;
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
    
                            span{
                                float: right;
                                color: #00AFFF;
                                min-width: 115px;
                                text-align: right;
                                background-color: #262C43;
                                border-radius: 9999px;
                                text-align: center;
                                font-size: .875em;
                                height: 100%;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                letter-spacing: 1px;
                                padding: 0 15px;
                            }
                        }
                    }
    
                    .points{
                        font-size: 25px;
                        background-color: #262C43;
                        padding: 15px;
                        border-radius: 15px;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        margin-right: 1rem;
    
                        small{
                            font-size: 12px;
                            letter-spacing: 1px;
                            padding-bottom: 10px;
                        }
                        span{
                            line-height: 24px;
                        }
                    }
                }
                .whitelist-req{
                    small{
                        letter-spacing: 1px;
                        font-size: 12px;
                        color: #00AFFF;
                        line-height: 28px;
                        text-align: center;
                        margin-bottom: 10px;
                        margin-top: 10px;
                    }
                    span{
                        color: #00AFFF;
                        min-width: 115px;
                        background-color: #010415;
                        border-radius: 9999px;
                        text-align: center;
                        font-size: .875em;
                        height: 35px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        letter-spacing: 1px;
                        padding: 0 15px;
                    }
                }
                .time-limit{
                    background-color: #00AFFF;
                    color: #ffffff;
                    display: flex;
                    border-radius: 9999px;
                    align-items: center;
                    justify-content: center;
                    padding: 15px 25px;
                    font-weight: bold;
                    letter-spacing: 1px;
                    font-size: 15px;
                    width: 100%;
                    height: 60px;
                    text-transform: uppercase;
                    font-style: italic;
                    border: none;
                    margin-top: 38px;
                }
            }
        }
        .round-two{
            background-color: rgba(38, 44, 67, 0.4);
            border-radius: 15px;
            padding: 50px;
            margin-top: 30px;
            position: relative;
            margin-bottom: 60px;
            margin-top: 135px;

            .content{
                width: calc(100% - 450px);
                padding-right: 100px;
                
                div{
                    margin-bottom: 2rem;

                    h4{
                        font-size: 16px;
                        text-transform: uppercase;
                        margin-bottom: 15px;
                        color: #00AFFF;
                    }
                    h5{
                        font-size: 15px;
                        line-height: 26px;
                    }
                    small{
                        color: #262C43;
                        line-height: 26px;
                        font-style: italic;
                        font-weight: bold;
                    }
                    ul{
                        margin-top: 1rem;
                        list-style: circle;
                        padding-left: 15px;
                    
                        li{
                            color: #262C43;
                            line-height: 26px;
                            font-style: italic;
                            font-weight: bold; 
                        }
                    }
                }
            }
            .content-full{
                width: 100%;
                padding-right: 0;

                div{
                    margin-bottom: 2rem;

                    h4{
                        font-size: 16px;
                        text-transform: uppercase;
                        margin-bottom: 15px;
                        color: #00AFFF;
                        line-height: 27px;
                    }
                    h5{
                        font-size: 15px;
                        line-height: 26px;
                    }
                    small{
                        color: #262C43;
                        line-height: 26px;
                        font-style: italic;
                        font-weight: bold;
                    }
                    ul{
                        margin-top: 1rem;
                        list-style: circle;
                        padding-left: 15px;
                    
                        li{
                            color: #262C43;
                            line-height: 26px;
                            font-style: italic;
                            font-weight: bold; 
                        }
                    }
                }
                div:last-child{
                    margin-bottom: 0;
                }
            }
            .circle-animation{
                transform: translate(0%, 0%);
                height: 450px;
                width: 450px;
                z-index: -1;
                overflow: hidden;
            }
            .circle-animation::before{
                position: absolute;
                content: '';
                border-radius: 50%;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                animation: rotatecw 15s linear infinite 0s;
                border: 4px solid rgba(255, 255, 255, 0.1);
                border-top-color: #00AFFF;
                border-right-color: #00AFFF;
            }
            .circle-animation::after{
                position: absolute;
                content: '';
                border: 4px solid rgba(0, 0, 0, 0.1);
                border-radius: 50%;
                top: 40px;
                left: 40px;
                bottom: 40px;
                right: 40px;
                border-top-color: #00AFFF;
                border-bottom-color: #00AFFF;
                animation: rotateacw 24s linear infinite 0s;
                border: 4px solid rgba(255, 255, 255, 0.1);
                border-top-color: #00AFFF;
                border-bottom-color: #00AFFF;
            }
        }
    }
    .contact{
        background-color: transparent;
        border-radius: 15px;
        padding: 50px 0;
        margin-top: 30px;
        position: relative;
        margin-bottom: 60px;

        .heading{
            background-color: #00AFFF;
            border-radius: 0 50px 50px 0;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            left: -46px;
            padding: 0 20px 0 25px;
            font-weight: bold;
            text-transform: uppercase;
            font-size: 12px;
            letter-spacing: 2px;
        }
        .circle-animation-wrap{
            margin-right: 2rem;
        
            .circle-animation{
                transform: translate(0%, 0%);
                height: 80px;
                width: 80px;
                z-index: -1;
                overflow: hidden;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
            }
            .circle-animation::before{
                position: absolute;
                content: '';
                border: 4px solid rgba(0, 0, 0, 0.1);
                border-radius: 50%;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                border-top-color: #00AFFF;
                border-bottom-color: #00AFFF;
                animation: rotateacw 24s linear infinite 0s;
                border: 4px solid rgba(255, 255, 255, 0.1);
                border-top-color: #00AFFF;
                border-bottom-color: #00AFFF;
                width: 100%;
                height: 100%;
            }
            .circle-animation:hover::after{
                background-color: rgb(239, 239, 239);
                cursor: pointer;
                content: '';
                height: 72px;
                width: 72px;
                position: absolute;
                border-radius: 50%;
            }
            .circle-animation:hover svg{
                z-index: 1;
                fill: #010415;
            }
        }
    }
}
@keyframes rotatecw {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes rotateacw {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-360deg);
    }
}