*, html, body{
  font-family: 'Montserrat', sans-serif !important;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background: url("images/world_map.png") no-repeat #010415;
  margin: 0;
  color: #ffffff;
  background-attachment: fixed;
    background-position: center top;
    background-size: cover;
}
::-webkit-scrollbar {
  width: 0;
  height: 0;
}
::-webkit-scrollbar-track {
  background: #010415;
}
::-webkit-scrollbar-thumb {
  background: #262C43;
}
::-webkit-scrollbar-thumb:hover {
  background: #262C43;
}
::selection {
  background: #262C43;
  /* WebKit/Blink Browsers */
  color: #fff;
}
::-webkit-selection {
  background: #262C43;
  color: #fff;
}
::-ms-selection {
  background: #262C43;
  color: #fff;
}
::-o-selection {
  background: #262C43;
  color: #fff;
}
::-moz-selection {
  background: #262C43;
  color: #fff;
}
button {
  padding: 0 1rem;
    border-radius: 9999px;
    border: 1px solid;
    cursor: pointer;
    transition: all ease .5s;
    font-size: 13px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    line-height: 40px;
    white-space: nowrap;
    letter-spacing: 1px;
}
.button-primary {
  background-color: #00AFFF;
    border-color: #00AFFF;
    color: #ffffff;
}
.button-primary:hover {
  background-color: #008CD0;
    border-color: #008CD0;
}
.button-secondary {
  background-color: transparent;
    border-color: #262C43;
    color: #fff;
}
.button-secondary:hover{
  background-color: #262C43;
  color: #ffffff;
}
a{ 
  text-decoration: none;
}
.container{
  max-width: 95%;
}
.wrapper{
  position: absolute;
  top: 0;
  width: 100%;
}
